
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/login.css">
    </head>
<body>
    <%- include('partials/_header_errors') %>
  <div>
    <br/>
    <h6><%= errorMessage %></h6>
    <br/>
    <h6><a href="http://localhost:8080/register">Click here to Register</a></h6>

  </div>
</main>
</body>